body {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	background: #111;

	font-family: "Tahoma";
	color: #eee;
	font-size: 8pt;
}

#canvas {
	position: absolute;
	display: block;
}

#header {
	position: absolute;
	top: 8px;
	left: 8px;
	z-index: 100;
}